.dog-detail {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dog-detail .main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 60px;
  padding: 0px 35px;
}

.dog-detail .pet-info-box {
  background-color: #efe7e0;
  margin: 3px;
  padding: 10px 20px;
  border-radius: 8px;

  color: #837E70;
  font-size: 15px;
  /* font-weight: 600; */
}

.dog-detail .pet-info-box .box-top-part {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 15px;
}

.dog-detail .pet-info-box .box-top-part .btn-box {
  display: flex;
}

.dog-detail .pet-info-box .box-top-part .control-button {
  border: 1px solid #5d524a;
  color: #5d524a;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.dog-detail .pet-name-box {
  /* margin-top: 8px;
  margin-bottom: 5px; */
  /* line-height: -100px; */
  display: flex;
  align-items: center;
  
}

.dog-detail .pet-info-box .pet-detail-info {
  display: flex;
  margin: 8px 0px;
}

.dog-detail .pet-info-box .pet-image {
  width: 100px;
  height: 120px;
  border-radius: 20px;
  margin-right: 15px;
}

.dog-detail .pet-info-box .pet-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 110px; */
}

.dog-detail .pet-info-box .pet-info-value {
  font-size: 15px;
  color: #5d524a;
  font-weight: 700;
}

