/* DogInfo */

.pet-info {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pet-info .main {
  display: flex;
  flex-direction: column;
  height: 60vh;
  padding: 0px 35px;
  margin-top: 60px;
}

.pet-info .input-box {
  display: flex;
  margin-bottom: 15px;
}

/* step1 */

.pet-info .input-box .select-wrapper {
  display: flex;

  align-items: center;
  width: 100%;

  border-radius: 12px;
  background-color: #efe7e0;
  margin-left: 10px;
  margin-right: 10px;
}

.pet-info .pet-breed-box {
  display: flex;

  align-items: center;
  width: 97%;
  height: 35px;

  padding: 10px 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  font-size: 13.5px;
  font-weight: 700;

  background-color: #efe7e0;
  color: black;
}

.pet-info .pet-breed-box {
  color: gray;
}

.pet-info .pet-breed-box option {
  font-size: 13.5px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Inter';
  font-weight: 700;
  color: black;
}

.pet-info .pet-breed-box:focus {
  outline: none;
}

/* step2 */

/* .pet-info .date-input {
  display: none;
} */

.pet-info .calendar {
  color: rgb(89, 83, 103);
  font-size: 15px;
  margin: 0px 3px;
  cursor: pointer;
}

.pet-info .input-title {
  margin: 0px 0px 5px 5px;
  color: #766b63;
  font-size: 15px;
  font-weight: 600;
}

/* step2 - check */

.pet-info .check-container {
  display: flex;
  width: 100%;
}

.pet-info .check-box {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;

  background-color: #efe7e0;
  font-size: 14.5px;
  font-weight: 600;
  color: #837e70;
}

.pet-info .check-container input:checked ~ .check-box {
  background-color: #665645;
  color: #efe7e0;
}

.pet-info .check-container .check-box:hover {
  background-color: #665645;
}

/* step2 - weight box */

.pet-info .weight-box {
  display: flex;
  justify-content: flex-start;
  width: 55%;
}

.pet-info .weight-box input {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

/* number 화살표 제거 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.pet-info .weight-text {
  margin-top: auto;

  color: #5d524a;
  font-weight: 500;
  font-size: 15px;
}

.pet-info .btn-wrapper {
  display: flex;
  margin-bottom: 200px;
  padding: 0px 35px;
}

/* step3 */

.pet-info .pet-info-box {
  background-color: #efe7e0;
  margin: 3px;
  padding: 10px 20px;
  border-radius: 8px;

  color: #837E70;
  font-size: 15px;
  /* font-weight: 600; */
}

.pet-info .pet-info-box .box-top-part {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 15px;
}

.pet-info .pet-info-box .box-top-part .btn-box {
  display: flex;
}

.pet-info .pet-info-box .box-top-part .control-button {
  border: 1px solid #5d524a;
  color: #5d524a;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.pet-info .pet-name-box {
  /* margin-top: 8px;
  margin-bottom: 5px; */
  /* line-height: -100px; */
  display: flex;
  align-items: center;
  
}

.pet-info .pet-info-box .pet-detail-info {
  display: flex;
  margin: 8px 0px;
}

.pet-info .pet-info-box .pet-image {
  width: 100px;
  height: 120px;
  border-radius: 20px;
  margin-right: 15px;
}

.pet-info .pet-info-box .no-pet-image {
  width: 100px;
  height: 120px;
  border-radius: 20px;
  margin-right: 15px;

  background-color: #5d524a;
}

.pet-info .pet-info-box .pet-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 110px; */
}

.pet-info .pet-info-box .pet-info-value {
  font-size: 15px;
  color: #5d524a;
  font-weight: 700;
}

/* check-message */

.pet-info .check-message {
  display: flex;
  justify-content: center;

  color: #efe7e0;
  font-size: 14px;
}

/* input-image */

/* input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
  appearance: none;
} */

/* 파일 선택 버튼 숨기기 */
/* input[type="file"]::-webkit-file-upload-button {
  display: none;
}

input[type="file"]::-moz-file-upload-button {
  display: none;
} */


.react-datepicker-wrapper,
.react-datepicker-wrapper > * {
  width: 0px !important;
}

.react-datepicker-wrapper input {
  width: 12px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: -15px;
  right: 3px;
}

.react-datepicker-wrapper input:focus {
  outline: none;
  caret-color: transparent;
}

.react-datepicker-wrapper input:hover {
  cursor: pointer;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker {
  right: 130px;
  bottom: 10px;
}