/* dog-post */

.dog-post {
  display: flex;
  flex-direction: column;
  background-color: #f5f3f2;
  min-height: 100vh;
  margin-left: 20px;
  /* padding: 0px 15px; */
  padding: 0px 0px;
}

.dog-post .top-nav {
  position: sticky;
  top: 0;
  background-color: #f5f3f2;
}

.dog-post .btn-wrapper {
  position: sticky;
  /* width: 80px; */
  top: 80px;
  /* left: 900px; */
  margin: 20px 20px;
  display: flex;
  justify-content: flex-end;
}

.dog-post .btn-wrapper .post-button {
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: #fff3e7;
  background-color: #b79e84;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.dog-post .post-content {
  display: flex;
  flex-direction: column;
}

.dog-post .post-box {
  padding: 0px 20px;
  border-bottom: 1px solid gray;
  margin: 10px 0px 25px;
}

/* post-head */
.dog-post .post-head {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px 20px;
}

/* 임시 이미지 */
.dog-post .post-head .pet-img {
  background-color: #373636;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.dog-post .post-head .post-info {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.dog-post .post-head .person-name {
  font-size: 18px;
}

.dog-post .post-head .dog-name {
  margin-left: 10px;

  font-size: 14px;
  font-weight: 500;
  color: #b79e84;
}

.dog-post .post-head .menu-box {
  /* display: flex; */
  position: relative;
  display: inline-block;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  color: #b79e84;
  cursor: pointer;
}

.dog-post .post-head .dropdown-content {
  display: none;
  position: absolute;
  left: -50%;
  transform: translate(-50%);
  
  min-width: 100px;
  z-index: 1;
}

.dog-post .post-head .dropdown-content span {
  display: block;
  /* text-decoration: none; */

  color: #b79e84;
  background-color: #f5f3f2;

  padding: 12px 16px;
  border: 1px solid #b79e84;
  border-radius: 50px;
  margin: 5px;

  text-align: center;
}

.dog-post .post-head .dropdown-content span:hover {
  color: #f5f3f2;
  background-color: #b79e84;
}

.dog-post .post-head .menu-box:hover .dropdown-content {
  display: block;
}

.dog-post .post-date {
  font-size: 12px;
  margin-top: auto;
}

/* post-image */

.dog-post .post-image {
  height: 380px;
  margin-bottom: 20px;
}

.dog-post .post-image .pet-post-image{
  height: 380px;
  border-radius: 6%;
}

.dog-post .post-image .heart-sticker {
  /* display: none; */
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -250%);
  width: 100px;
  height: 100px;
}

/* post-content */
.dog-post .post-like {
  display: flex;
  padding: 0px 15px;
  margin-bottom: 20px;
  align-items: center;
}

.dog-post .post-content {
  display: flex;
  padding: 0px 15px;
  margin-bottom: 50px;
}

.dog-post .post-content .edit-btn {
  background-color: #b79e84;
  color: white;
  border-radius: 10px;
  display: inline;
  width: 50px;
  text-align: center;
  padding: 5px;
  margin-top: 15px;
  align-self: end;
  cursor: pointer;
}

.dog-post .post-content textarea {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    border: 1px solid #373636;
    border: none;
    background: #ddd;
    resize: none;
    padding: 50px 30px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
}

.dog-post .post-content textarea ::placeholder {
    color: #ddd;
}
.dog-post .post-content textarea:focus {
    outline: none;
}
.dog-post .post-content .post-content-img {
    width: 45px;
    height: 100px;
    display: block;
    position: absolute;
    /* top: -34px;
    left: 20px; */
}