/* EmailLogin */

.update-password {
  background-color: #b79e84;
}

.update-password .input-container {
  margin: 150px 30px 100px;
}

.update-password .input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* padding: 20px 30px; */
  /* margin: 20px; */
  margin-bottom: 15px;
  margin-top: 30px;
}

.update-password .input-box .nickname-check-btn {
  border: none;
  border-radius: 10px;
  padding: 5px 0px;
  margin-right: 10px;

  width: 150px;
  background-color: #665645;
  color: #f5f3f2;
  cursor: pointer;
}

.update-password .input-box .check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  background-color: white;
  border: 2px solid #665645;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.update-password .input-box .bad-check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: white;
  border: 2px solid #665645;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.update-password .check-message {
  margin-left: 15px;
  margin-bottom: 10px;
  color: red;  
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}


